body {
  text-align: center;
  background: linear-gradient(rgb(162, 240, 18), rgb(9, 165, 204));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn {
  border: none;
  background: radial-gradient(rgb(5, 91, 250), rgb(202, 6, 219));
  color: white;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
}
hr {
  border: none;
}
#random_btn {
  border: none;
  background: radial-gradient(rgb(5, 91, 250), rgb(202, 6, 219));
  color: white;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
}
